:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #f8fafc;
  color: #0f172a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

button {
  cursor: pointer;
}
